details {
  &:focus {
    outline: 0;
  }
}
summary {
  &:focus {
    outline: 0;
  }
}


.panel {
  position: relative;
  display: flex;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f7fcfe;
  border: 1px solid #d0d0d0;
  border-left: none;
  border-top: 0;

  &.open {
    .list-group__description {
      display: block;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    height: calc(100% + 1px);
    width: 4px;
    background-color: $light-blue;
  }

  &__button {
    position: relative;
    top: -11px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: .2s transform;

    &:before {
      @include dash-icon;
      content: '\f139';
      font-size: 30px;
      color: #959a9f;
    }

    &.open {
      transform: rotate(90deg);
    }

    &:focus {
      outline: 0;
    }
  }

  &__title {
    display: flex;
    min-width: 330px;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
  }

  &__content {
    font-size: 15px;
    font-weight: 400;
    color: #626b7c;
  }
}

.list-group {
  &__link {
   margin-bottom: 10px;

   &:hover {
    color: darken(#626b7c, 10%);
   }
  }
  &__description {
    display: none;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #4e4e4e;
  }
}
