nav.breadcrumb {
  margin-bottom: to-rem(45);

  ol > li {
    position: relative;
    display: inline-block;
    color: #4e4e4e;
    font-size: 15px;
    font-weight: 800;

    &:before {
      content: '>>';
      display: inline-block;
      font-size: 13px;
    }
    &:first-child {
      &:after {
        content: '';
      }
    }
  }
}
