// dl {
//   display: flex;
//   flex-wrap: wrap;

//   > dt {
//     width: 30%;

//     > a {
//       display: block;
//       padding: 48px 52px;
//       background-color: #f7fcfe;
//       }
//   }

//   > dd {
//     width: 70%;
//     padding: 48px 52px;
//     box-sizing: border-box;
//     background-color: #f7fcfe;
//   }
// }

    // position: relative;
    // display: flex;
    // padding: 48px 52px;
    // width: 100%;
    // box-sizing: border-box;
    // background-color: #f7fcfe;
    // border: 1px solid #d0d0d0;
    // border-top: none;
    // border-left: none;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 4px;
    //   height: calc(100% + 1px);
    //   left: -4px;
    //   top: 0;
    //   background-color: $blue;
    // }
