

.field--name-title {
  margin-bottom: 31px;
  color: #32373c;

  .form-required {
    display: block;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: 700;
  }
  .form-text {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 25px;
    box-shadow: inset 0 0 3px rgba(167, 168, 168, 0.6);
    border-radius: 3px;
    border: none;
    font-size: 18px;
    font-weight: 400;
  }
}
.filter-guidelines {
  display: none;
}
.filter-wrapper {
  background-color: #f8f8f8;
}
.filter-list {
  border-color: #a6a6a6;
  background-color: #fcfcfa;
  padding: 4px;
}
.filter-help {
  color: #0074bd;
  margin-top: 4px;
  > a {
    color: inherit;
    text-decoration: none;
    &:before {
      top: 3px;
    }
  }
}
.field--type-text-with-summary {
  margin-bottom: 25px;
}

/* vertical-tabs */
.vertical-tabs {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.1;
  font-size: 15px;
  .vertical-tabs__menu {
    float: none;
    margin: 0;
    width: 100%;
    > li {
      position: relative;
      background-color: #f1f1f1;
      color: #32373c;

      a {
        padding: 17px 45px 11px 22px;
        color: inherit;
      }
      &:after {
        @include dash-icon;
        position: absolute;
        content: "\f142";
        right: 29px;
        top: 22px;
        width: 12px;
        height: 12px;
        font-size: 28px;
        text-indent: -9px;
        line-height: 10px;
      }
    }
  }
  .vertical-tabs__panes {
    padding: 13px 17px 10px 21px;
    background-color: #fff;



    .description {
      margin-top: 0;
      font-size: 13px;
      color: #6e7173;
    }
    .menu-link-form {
      input[type="number"],
      select {
        margin-left: 5px;
      }
    }
    label.option {
      font-weight: 400;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    display: inline-block;
    padding-bottom: 3px;
    font-weight: 800;
  }
  select,
  input[type="number"] {
    background-color: #fff;
    padding: 4px;
  }
}
.account-navigation {
  display: none;
}
.main-menu-navigation {
  display: none;
}

input[type="text"] {
  margin: 10px 0;
}

input[type="number"],
select {
  // margin-bottom: 5px;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 9px 17px;
  box-sizing: border-box;
  font-size: 15px;
}

label,
.entity-meta__title {
  font-weight: 700;
}
