
.path-admin .home-toolbar-tab.toolbar-tab {
  display: none;
}


/*  TOP TRAY */


/* TOOLBAR LAYOUT */


/* TOOLBAR COLORS etc. */



// .node-article-edit-form {
//   float: left;
//   width: 50%;
// }


// .region-header {
//   margin-bottom: 45px;

//   .contextual-region {
//     &:first-child {
//       font-size: to-rem(30);
//       font-weight: 400;
//     }

//   }
// }


// div[data-drupal-selector="edit-actions"] {
//   input[data-drupal-selector="edit-submit"],
//   input[data-drupal-selector="edit-preview"],
//   .button--danger {
//     padding: 9px 17px;
//     margin-right: 9px;
//     font-size: 15px;
//     font-weight: 700;
//     background-color: #f7f7f7;
//     border-radius: 3px;
//     border: none;
//     cursor: pointer;
//     box-shadow: 1px 2px 1px rgba(25, 26, 26, 0.05),
//                 inset 0 0 2px rgba(140, 141, 141, 0.6);

//   }
//   input[data-drupal-selector="edit-submit"] {
//     background-color: #0073aa;
//     color: #fff;
//     font-weight: 400;
//   }
//   input[data-drupal-selector="edit-preview"] {
//     color: #6c6d6d;
//   }
//   .button--danger {
//     color: #844256;
//     text-decoration: none;
//   }
// }





// .list-group {
//   width: 100%;
//   padding: 50px;
//   box-sizing: border-box;
//   background-color: #f7fcfe;
//   border: 1px solid #d0d0d0;
//   border-left: 4px solid #0096cf;

// .list-group__link {
//     float: left;
//     width: 25%;
// }
// .list-group__description {
//     width: 75%;
//     float: right;
// }
// header {
//   display: none;
// }
// .region-header-top {
//   display: none;
// }
.region-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  .menu--tools {
    padding-right: 50px;
    margin: 0 10px 10px 0;

    h2 {
      display: none;
    }
  }
}
.messages {
  margin-bottom: 20px;
}

.block-page-title-block {
  margin: 0 35px 10px 0;
  font-size: 30px;
}
.block-system-branding-block {
  display: none;
}

.menu--tools {
  display: none;
}

.search-block-form {
  display: none;
}

.action-links {
  margin: 0;

  > li {
    padding: 0;
    > a {
      display: block;
      font-size: 17px;
      font-weight: 700;
      padding: 5px 17px;
      color: $blue;
      border-radius: 5px;
      background-color: #f7f7f7;
      box-shadow: 1px 2px 1px rgba(25, 26, 26, 0.05),
      inset 0 0 2px rgba(140, 141, 141, 0.6);

      &:before {
        content: '';
      }
    }
  }
}

input[type="submit"] {
  padding: 8px 15px;
  font-size: 15px;
  color: #6c6d6d;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 1px 2px 1px rgba(25, 26, 26, 0.05),
  inset 0 0 2px rgba(140, 141, 141, 0.6);
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}
