ul.tabs {
  margin-bottom: 30px;

   > li {
    display: inline-block;
    min-width: 145px;
    margin-right: 9px;
    color: #a2a2a3;
    text-align: center;
    > a {
      color: inherit;
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      font-size: 15px;
      text-decoration: none;
      box-shadow: 1px 2px 1px rgba(25, 26, 26, 0.05),
                  inset 0 0 2px rgba(140, 141, 141, 0.6);
      border-radius: 3px;
      background-color: #f7f7f7;
      &.is-active {
        background-color: #0074bd;
        color: #ffffff;
      }
    }
  }
}
