.toolbar {
  font-family: $open-sans;

  .toolbar-bar {
    background-color: $dark;

    .tour-toolbar-tab + .toolbar-tab {
      float: right;
    }
    .contextual-toolbar-tab {
      position: relative;
      &:before {
        content: '';
        width: 1px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #9ea3a8;
      }
      .toolbar-icon-edit {
        padding-left: 14px;
        padding-right: 50px;
        &:before {
          left: auto;
          right: 20px;
        }
      }
    }
    .toolbar-tab {
    > .toolbar-item {
        font-size: 15px;

        &:hover, &:focus {
          background: none;
        }
        &.toolbar-icon-menu {
          width: $sidebar_width;
          padding-left: 58px;
          &.is-active {
            background: none;
          }
          &:before {
            left: 12px;
          }
        }
        &.toolbar-icon-user {
          padding-right: 47px;
          &:before {
            left: auto;
            right: 15px;
          }
        }
      }
    }
  }
}
