.toolbar .toolbar-tray-vertical.is-active {
  background: $dark;
  padding-top: 16px;
  box-shadow: none;
}
.toolbar-toggle-orientation {
  display: none;
}

.toolbar {
  .toolbar-menu {
    background-color: $dark;

    a.toolbar-icon {
      color: #fefefe;
      text-decoration: none;
      padding-left: 52px;
      &.is-active {
        text-decoration: none;
      }
      &:focus {
        background: transparent;
      }
    }
    .menu-item {
      &.open {
        background-color: #0073aa;
      }
      &.level-1 {
        font: 700 17px $open-sans;
        border: none;
        > ul {
          background-color: #32373c;
        }
      }
      .level-2 {
        font-weight: 400;
        &.open {
          background-color: #4c5e70;
          font-weight: 700;
          > ul {
            font-weight: 400;
          }
        }
        > ul {
          background-color: #41484e;
          border: none;
        }
        a.toolbar-icon {
          padding-left: 16px;
          font-size: 15px;
        }
      }
      button.toolbar-handle:focus {
        background-color: transparent;
      }
      ul ul {
        border: none;
      }
    }
  }
  .toolbar-tray .menu-item--active-trail > .toolbar-box .toolbar-icon {
    color: #fefefe;
  }
}
.toolbar-menu .menu-item.level-1 {
  a.toolbar-icon {
    &:before {
      @include dash-icon;
      left: 14px;
      background: none;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
      height: 28px;
      font-size: 28px;
      color: #959a9f;
    }
    &.toolbar-icon-system-admin-content {
      &:before {
        content: "\f109";
      }
    }
    &.toolbar-icon-system-admin-structure {
      &:before {
        content: "\f533";
      }
    }
    &.toolbar-icon-system-themes-page {
      &:before {
        content: "\f100";
      }
    }
    &.toolbar-icon-system-modules-list {
      &:before {
        content: "\f106";
      }
    }
    &.toolbar-icon-system-admin-config {
      &:before {
        content: "\f108";
      }
    }
    &.toolbar-icon-entity-user-collection {
      &:before {
        content: "\f110";
      }
    }
    &.toolbar-icon-system-admin-reports {
      &:before {
        content: "\f185";
      }
    }
    &.toolbar-icon-help-main {
      &:before {
        content: "\f348";
      }
    }
  }
  button.toolbar-icon.toolbar-handle {
    &:before {
      @include dash-icon;
      content: "\f140";
      left: auto;
      right: 12px;
      bottom: 0;
      top: 0;
      margin: auto;
      text-indent: -7.25px;
      box-sizing: border-box;
      background: none;
      line-height: 16px;
      width: 20px;
      height: 20px;
      font-size: 28px;
      border-radius: 50%;
      border: 2px #fefefe solid;
      color: #fefefe;
    }
    &.open {
      &:before {
        content: "\f142";
        line-height: 15px;
        background: none;
        color: #035278;
        border-color: #035278;
      }
    }
  }
  .level-2 {
    button.toolbar-icon.toolbar-handle.open {
      &:before {
        color: #cbcccd;
        border-color: #cbcccd;
      }
    }
  }
}

.toolbar-toggle-orientation {
  height: 0;
  .toolbar-lining {
    display: none;
  }
}
