.view-filters {
  .form--inline {
    display: flex;
    flex-wrap: wrap;

    .form-actions {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      margin: 0;
      margin: 0 4px 10px 0;
      margin-left: 13px;
    }

    > .form-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      float: none;
      width: 217px;
      margin: 0 4px 10px 0;
      color: #32373c;
      font-size: 17px;

      label {
        display: block;
        margin-bottom: 6px;
        padding-left: 14px;
      }
      .form-select,
      .form-text {
        width: 100%;
        min-height: 36px;
        margin: 0;
        padding: 5px 15px;
        border: none;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: inset 0 0 3px rgba(167, 168, 168, 0.6);
      }
    }
  }
}

.view-content {
  div[data-drupal-selector="edit-header"] {
    margin-bottom: 5px;

    div[data-drupal-selector="edit-node-bulk-form"] {
      display: flex;
      flex-wrap: wrap;

      .form-item {
        width: 217px;
        margin: 0 10px 10px 0;
        color: #32373c;

        select {
          width: 100%;
          padding: 5px 15px;
          background-color: #fff;
          font-size: 17px;
          border-radius: 3px;
          border: none;
          box-shadow: inset 0 0 3px rgba(167, 168, 168, 0.6);
        }
        label {
          display: block;
          margin-bottom: 7px;
          padding-left: 11px;
        }
      }
      .form-actions {
        display: flex;
        align-items: flex-end;
        margin: 0 10px 10px 0;
        font-size: 15px;
        color: #6c6d6d;
      }
    }
  }
}

table {
  @mixin both_styles {
    text-align: left;
  }

  thead {
    font-size: 18px;
    color: #444;

    th {
      width: 25%;
      padding: 13px 20px 14px 0;
      box-sizing: border-box;
      background-color: #fff;
      @include both_styles;

      &:first-child {
        min-width: 50px;
        width: 50px;
        text-align: center;
        padding: 0;
      }

      &.views-field-title {
        color: $blue;
      }

      &.views-field-changed {
        width: 160px;
        min-width: 160px;
      }

      &.views-field-operations {
        width: 180px;
        min-width: 180px;
      }
    }
  }
  tbody {
    font-size: 17px;
    color: #626b7c;

    tr {
      &:nth-child(odd) {
        background-color: #f9f9f9;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
    }

    td {
      @include both_styles;
      padding: 50px 20px 50px 5px;

      &:first-child {
        text-align: center;
        padding: 0;
      }

      &.views-field-title {
        color: $blue;
        font-weight: 700;
      }

      &.views-field-name {
        font-style: italic;
      }

      &.views-field-status {
        color: #3a3e46;
      }

      &.views-field-changed {
        font-weight: 700;
        font-size: 15px;
        color: #646363;

        &.is-active {
          background-color: transparent;
        }
      }

      &.views-field-operations {
        font-weight: 700;
        color: $blue;

        .dropbutton-wrapper {
          padding: 0;
          margin: 0;

          .dropbutton-widget {
            top: 14px;
            border: none;
            background-color: transparent;
          }
          .dropbutton {
            border: none;
          }
          .dropbutton-action {
            border: none;
            > a {
              padding: 0;
              margin: 0;
              line-height: 1.8;
            }
          }

          .edit {
            > a {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.pager__items {
  color: #6c6d6d;

  > li {
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;

    &.is-active {
      position: relative;
      color: #0073aa;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: $blue;
      }
    }
    &.pager__item--next, &.pager__item--last {
     font-size: 17px;
    }
  }
}

