@import "bourbon";
@import "vars";

body {
	min-width: 320px;
	position: relative;
	font-family: $open-sans;
	overflow-x: hidden;
	background-color: #f1f1f1;
}

input[type="radio"] {
	&:focus {
		outline: 0;
	}
}

label {
	display: block;
	margin-bottom: 7px;
}

select {
  margin: 0;
  padding: 5px 15px;
	font-size: 17px;
	color: #32373c;
	background-color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 3px rgba(167, 168, 168, 0.6);
}

a {
	color: inherit;
	text-decoration: none;
}
