@import "bourbon";

@include font-face('Open Sans', "../fonts/OpenSansLight/opensans-light-webfont",     300, $file-formats: woff2 woff ttf svg);
@include font-face('Open Sans', "../fonts/OpenSansRegular/opensans-regular-webfont", 400, $file-formats: woff2 woff ttf svg);
@include font-face('Open Sans', "../fonts/OpenSansBold/opensans-bold-webfont",       800, $file-formats: woff2 woff ttf svg);
@include font-face("dashicons", "../fonts/DashIcons/dashicons", $file-formats: woff2 woff ttf svg);
