body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: $sidebar_width;
}
.layout-container {
  margin-left: 30px;
  margin-right: 60px;
  padding-top: to-rem(26);
  @media (max-width: 1200px) {
    margin-left: 15px;
    margin-right: 30px;
  }
}
.block-local-tasks-block {
  margin-bottom: to-rem(45);
}
.toolbar .toolbar-tray-vertical.is-active {
  width: $sidebar_width;
}

.path-node {
  .region-content {
    position: relative;
    padding-right: 420px;
  }
}

.js-form-type-vertical-tabs {
  position: absolute;
  right: 0;
  top: -81px;
  width: 395px;
}

.view-filters {
  margin-bottom: 15px;
}
