@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  body.toolbar-tray-open {
    .js-form-type-vertical-tabs {
      position: relative;
      width: 100%;
      padding-top: 20px;
    }
    &.path-node {
      .region-content {
        padding-right: 20px;
      }
    }
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){}
	/**/

