
@mixin dash-icon {
  font-family: 'dashicons';
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in 0;
}

//Mixin to calculate REM
@function to-rem($size) {
  @return ($size/#{$html-fz-px}rem);
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
@mixin center {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
