// .region-header {
//   .contextual-region {
//     &:last-child {
//       > ul > li > a
//     }
//   }
// }

.vertical-tabs {
  .vertical-tabs__menu {
    > li.is-selected {
      background-color: #fff;
      text-decoration: none;
      &:after {
        content: "\f140";
        text-indent: -11px;
      }

      > a {
        text-decoration: none;

        &:focus {
          strong {
            text-decoration: none;
          }
        }
      }
    }
  }
}
