@import "bourbon";

$html-fz: 16px;
$html-fz-px: 16;

$default-font: 'Open Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$sidebar_width: 250px;

$dark: #23282d;
$blue: #0073aa;
$light-blue: #0096cf;
